body {
  background-color: #ffffff;
}

.second_pic {
  width: "30px";
  text-align: center;
}

.Intro {
  background-color: #fafafa;
  text-align: center;
}

.Intro1 {
  text-align: center;
}



.logo1 {
  max-width: 10%;
}

